@import "tailwindcss";
@plugin "daisyui/index.js";

.message-enter {
    animation: messageEnter 0.1s ease-in-out;
}

@keyframes messageEnter {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0); 
    }
}



